@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #0F0C15;
  color: #F4F1DE;
  overflow-x: hidden;
}

/* Custom Scrollbar hide */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.glass-panel {
  background: rgba(45, 27, 46, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
